<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

	<servlet>
		<servlet-name>LyncUpEngine</servlet-name>
		<servlet-class>com.nomenubar.lyncup.LyncUpEngineServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LyncUpEngine</servlet-name>
		<url-pattern>/lyncupengine</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>User</servlet-name>
		<servlet-class>com.nomenubar.lyncup.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>User</servlet-name>
		<url-pattern>/user</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Friend</servlet-name>
		<servlet-class>com.nomenubar.lyncup.FriendServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Friend</servlet-name>
		<url-pattern>/friend</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EventFriends</servlet-name>
		<servlet-class>com.nomenubar.lyncup.EventFriendsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EventFriends</servlet-name>
		<url-pattern>/eventfriends</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Update</servlet-name>
		<servlet-class>com.nomenubar.lyncup.UpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Update</servlet-name>
		<url-pattern>/update</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Event</servlet-name>
		<servlet-class>com.nomenubar.lyncup.EventServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Event</servlet-name>
		<url-pattern>/event</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
